*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}
@import 'components/characters/card.scss';
@import 'components/characters/nav.scss';
@import 'components/characters/section.scss';
@import 'components/episodes/main.scss';
