.cards{
   display: flex;
   flex-wrap: wrap;
}
.card{
   width: 23rem;
   margin-bottom: 10px;
   margin-left: 5px;

   img{
      width: 70%;
      margin: 0 auto;
      padding-top: 1em;
      border-radius: 50%;

   }
}
.status-text{
   border-radius: 10px;
   width: 30%;
   margin:10px auto;
}
span.couldn-find {
   font-weight: bold;
}
.p-text{
   cursor: pointer;
}
.Dead{
   background-color: rgba(255, 0, 0, 0.5);
   border-color: rgb(200, 0, 0);
   color: white;
}
.unknown{
   background-color: rgba(128, 128, 128, 0.5);
   border-color: rgb(110, 110, 110);
   color: white;
}
.Alive{
   background-color: rgba(91, 236, 72, 0.5);
   border-color: rgb(0, 165, 14);
}


