.navbar{
   background-color: #fff!important;
}
.navbar-brand{
   font-weight: bold;
   span{
      color: #5688f6;
   }
}
.navbar li {
   margin-left : 1.5em;
   margin-right : 1.5em;
   transition: 0.3s ease-in-out;
   a{
      &:hover{
         color: #5688f6!important;
      }
   }

}
.nav-link{
   font-weight: bold;
}
.fa-cart-shopping:before, .fa-shopping-cart:before {
   content: "\f07a";
   font-size: 22px;
}